{% extends "base.html.twig" %}

{% block title %}Bienvenue{% endblock %}
{% block body %}
    <div class="slide" id="home">
        <div class="container d-flex justify-content-center">
            <div class="col-md-7">
                <div class="jumbotron mt-3 text-center text-light">
                    <h1 class="titles" id="titleHome">SELL YOUR CAR</h1>
                    <p class="lead">La recherche d'aujourd'hui, la voiture de demain...</p>
                    <hr class="my-4">
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="titleBox text-center d-flex flex-column text-light">
                            <h2 class='titles mt-2'>{{total_cars}}</h2>
                            <p>annonces publiées</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="titleBox text-center d-flex flex-column text-light">
                            <h2 class='titles mt-2'>{{total_users}}</h2>
                            <p>fidèles utilisateurs</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="titleBox text-center d-flex flex-column text-light">
                            <h2 class='titles mt-2'>100</h2>
                            <p>pourcents fiable</p>
                        </div>
                    </div>
                </div>
                <div id="homeImage">
                </div>
            </div>
        </div>
    </div>
    <div class="slide d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="mt-3 mb-4">À propos</h1>
                    <p>Chez <strong>Sell Your Car</strong>, nous mettons la puissance de la <strong>vente de voitures</strong> entre les mains des propriétaires. Que vous cherchiez à vendre votre véhicule actuel ou à trouver votre prochaine voiture, notre plateforme simplifie le processus. Découvrez un <strong>espace convivial</strong> où les vendeurs rencontrent des acheteurs, et où chaque voiture a son histoire à raconter. <br><br>Rejoignez-nous <strong>dès aujourd'hui</strong> pour explorer une nouvelle manière de vendre et d'acheter des voitures en ligne.</p>
                    <a href="{{path('cars_index')}}" type="button" class="btn btn-primary mb-4">Consulter nos annonces</a>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="titleBox" id="details1">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="titleBox" id="details2">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="titleBox" id="details3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="aboutImage"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1 class="mt-3 mb-4">Nos dernières annonces</h1>
        <div class="row">
        {% for recent_car in recent_cars %}
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        {{recent_car.model}}, <strong>49€ / nuit</strong>
                    </div>
                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement" class="starsimg">
                    <div class="card-body">
                        <div class="card-title">
                            Super appartement! 
                        </div>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, earum modi! Dolorem at exercitationem sapiente optio aliquam blanditiis.
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div> 
        <h1 class="mt-3 mb-4">Nos vendeurs stars</h1>
        <div class="row">
        {% for top_owner in top_owners %}
            <div class="col-md-6">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        {{top_owner.firstName}}, <strong>49€ / nuit</strong>
                    </div>
                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement" class="starsimg">
                    <div class="card-body">
                        <div class="card-title">
                            Super appartement! 
                        </div>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, earum modi! Dolorem at exercitationem sapiente optio aliquam blanditiis.
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div> 
    </div>
{% endblock %}

