{% extends "base.html.twig" %}

{% block title %}Bienvenue{% endblock %}
{% block body %}
    <div class="slide" id="home">
        <div class="container d-flex justify-content-center">
            <div class="col-md-7">
                <div class="jumbotron mt-3 text-center text-light">
                    <h1 class="titles" id="titleHome">SELL YOUR CAR</h1>
                    <p class="lead">La recherche d'aujourd'hui, la voiture de demain...</p>
                    <hr class="my-4">
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="titleBox text-center d-flex flex-column text-light">
                            <h2 class='titles mt-2'>{{total_cars}}</h2>
                            <p>annonces publiées</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="titleBox text-center d-flex flex-column text-light">
                            <h2 class='titles mt-2'>{{total_users}}</h2>
                            <p>fidèles utilisateurs</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="titleBox text-center d-flex flex-column text-light">
                            <h2 class='titles mt-2'>100</h2>
                            <p>pourcents fiable</p>
                        </div>
                    </div>
                </div>
                <div id="homeImage">
                </div>
            </div>
        </div>
    </div>
    <div class="slide d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="mt-3 mb-4">À propos</h1>
                    <p>Chez <strong>Sell Your Car</strong>, nous mettons la puissance de la <strong>vente de voitures</strong> entre les mains des propriétaires. Que vous cherchiez à vendre votre véhicule actuel ou à trouver votre prochaine voiture, notre plateforme simplifie le processus. Découvrez un <strong>espace convivial</strong> où les vendeurs rencontrent des acheteurs, et où chaque voiture a son histoire à raconter. <br><br>Rejoignez-nous <strong>dès aujourd'hui</strong> pour explorer une nouvelle manière de vendre et d'acheter des voitures en ligne.</p>
                    <a href="{{path('cars_index')}}" type="button" class="btn btn-primary mb-4">Consulter nos annonces</a>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="titleBox" id="details1">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="titleBox" id="details2">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="titleBox" id="details3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="aboutImage"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="slide d-flex align-items-center" id="newAd">
        <div class="container">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-7">
                    <h1 class="mt-3 mb-4">Nos dernières annonces</h1>
                </div>
                <div class="col-md-2">
                    <a href="{{path('cars_index')}}" type="button" class="btn btn-primary mb-4">Consulter nos annonces</a>
                </div>
            </div>
            <div class="row">
                {% include "partials/cards.html.twig" %}
            </div> 
        </div>
    </div>
    <div class="slide d-flex align-items-center" id="topOwners">
        <div class="container">
            <h1 class="mt-3 mb-3">Nos vendeurs stars</h1>
            <p class="mb-3">Voici le classement de nos meilleurs vendeurs du moment ! Rejoignez l'aventure et tentez de rafler la première place !</p>
            <a href="{{path('account_register')}}" type="button" class="btn btn-primary mb-5">M'inscrire</a>
            <a href="{{path('account_login')}}" type="button" class="btn btn-secondary mb-5">Me connecter</a>
            <div class="row">
            {% for top_owner in top_owners %}
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-header text-center bg-primary text-light">
                            <i class="fa-solid fa-crown" style="color: #fce043;"></i>
                            <strong>{{top_owner.firstName}} {{top_owner.lastName}}</strong>
                        </div>
                        <div class="card-body">
                            <div class="ownerAvatar">
                                {% if top_owner.picture %}
                                    <img src="{{top_owner.picture}}" alt="avatar de {{top_owner.firstName}} {{top_owner.lastName}}">
                                {% else %}
                                    <img src="https://i0.wp.com/www.repol.copl.ulaval.ca/wp-content/uploads/2019/01/default-user-icon.jpg?ssl=1" alt="avatar de {{top_owner.firstName}} {{top_owner.lastName}}">
                                {% endif %}
                            </div>
                            <p class="card-text">
                                <div><strong>Nom: </strong> {{top_owner.lastName}}</div>
                                <div><strong>Prénom: </strong> {{top_owner.firstName}}</div>
                                <div><strong>Nombre de véhicules: </strong> {{car_counts[top_owner.user_id]}}</div>
                                <div><strong>Introduction: </strong> {{top_owner.introduction}}</div>
                                <div>
                                    <div>
                                        <strong>Description: </strong>
                                        <p class="mb-0">
                                            {{ top_owner.description | raw | striptags | slice(0, 100) }}{% if top_owner.description | length > 100 %}...{% endif %}                                        
                                        </p>
                                    </div>
                                    <figcaption class="blockquote-footer mt-2">
                                        <cite title="Source Title">{{top_owner.firstName}} {{top_owner.lastName}}</cite>
                                    </figcaption>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div> 
        </div>
    </div>
{% endblock %}

