{% extends "base.html.twig" %}


{% block title %}Modification de la voiture: {{car.brand}} {{car.model}}{% endblock %}

{% form_theme myForm 'cars/_collection.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Modification de l'annonce : <strong>{{car.brand}} {{car.model}}</strong></h1>

        {{form_start(myForm)}}

            {{form_widget(myForm)}}
            <button type="submit" class="btn btn-warning mt-3">Modifier</button>


        {{form_end(myForm)}}
    </div>

{% endblock %}

{% block javascripts %}
    {{encore_entry_script_tags('car')}}
{% endblock %}