{% extends 'base.html.twig' %}

{% block title %}Nos Voitures{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="mb-3">Consultez notre show-room</h1>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <p>Découvrez notre showroom en ligne pour explorer notre impressionnante sélection de véhicules. Parcourez des modèles de haute qualité à des prix compétitifs, et trouvez la voiture de vos rêves dès aujourd'hui !</p>
                </div>
            </div>
            {% for car in cars %}
                {# création d'une variable twig pour l'url (slug) #}
                {% set url = path('cars_show', {'slug':car.slug}) %}
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            {{car.km}} km, <strong>{{car.price}}€</strong>
                        </div>
                        <a href="{{url}}">
                            <img src="{{car.coverImage}}" alt="image de la voiture {{car.model}}" class="starsimg">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">{{car.model}}</h4>
                            <h5 class="card-title">{{car.brand}}</h5>
                            <a href="{{url}}" class="btn btn-primary">En savoir plus</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}