{% extends "base.html.twig" %}


{% block title %}Création d'une fiche de vente{% endblock %}

{# {% form_theme myForm _self %} #}
{# {% form_theme myForm 'bootstrap_5_layout.html.twig' %} #}

{% block body %}
    <div class="container">
        <h1>Nouvelle voiture à vendre</h1>

        {{ form_start(myForm) }}


             {{form_widget(myForm)}}

            <button type="submit" class="btn btn-primary mt-3">Terminer</button>



        {{ form_end(myForm) }}
    </div>
{% endblock %}


{% block text_widget %}
    <input type="text" name="{{full_name}}" id="{{id}}" class="form-control">
{% endblock %}