{% extends "base.html.twig" %}

{% block title %}Modèle : {{car.brand}} {{car.model}}{% endblock %}

{% block body %}
   <div class="container mt-4">
    <div class="row">
        <div class="col-md-6 mb-3">
            <h1>Modèle {{car.brand}} {{car.model}}</h1>
            <div><strong>Modèle</strong>: {{car.model}}</div>
            <div><strong>Marque</strong>: {{car.brand}}</div>
            <div><strong>Kilométrage</strong>: {{car.km}} km</div>
            <div><strong>Année de mise en circulation</strong>: {{car.year}}</div>
            <div><strong>Nombre de propriétaires</strong>: {{car.owners}}</div>
            <div><strong>Carburant</strong>: {{car.carburant}}</div>
            <div><strong>Cylindrée</strong>: {{car.cylinder}} L</div>
            <div><strong>Puissance</strong>: {{car.power}} ch</div>
            <div><strong>Transmission</strong>: {{car.transmission}}</div>
            <div><strong>Description</strong>:{{car.content | raw | nl2br}}</div>
            <div><strong>Options</strong>:{{car.options | raw | nl2br}}</div>
        </div>
        <div class="col md-6 mb-3">
            <div id="carImage">
                <div class="carCover">
                    <img src="{{car.coverImage}}" alt="couverture de {{car.brand}} {{car.model}}">
                </div>
            </div>
            <div><h1 id="price">{{car.price}} €</h1></div>
        </div>

        <div class="bd-example mt-5">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                <div class="carousel-indicators justify-content-start">
                    {% for image in car.images %}
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{loop.index0}}" {% if loop.first %} class="active" aria-current="true" {% endif %} aria-label="Slide {{loop.index}}"></button>
                {% endfor %} 
                </div>
                <div class="carousel-inner">
                    {% for image in car.images %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <img src="{{image.url}}" class="d-block w-100" alt="image de {{car.model}}">
                            <div class="carousel-caption d-none d-md-block" style="text-align: left;">
                                    <h4>{{car.model}}</h4>
                                    <h5>{{car.brand}}</h5>
                                <p>{{image.caption}}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

    </div>
        {# <div class="col">
            <div class="row">
                <div class="col-4">
                    <img src="https://picsum.photos/64/64" alt="Avatar de Bruce">
                </div>
                <div class="col">
                    <h3>Bruce Wayne</h3>
                    <span class="badge badge-primary">3 annonces:</span>
                </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum suscipit iusto assumenda harum non obcaecati!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum suscipit iusto assumenda harum non obcaecati!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum suscipit iusto assumenda harum non obcaecati!</p>
            </div>
        </div> #}
   </div>

{% endblock %}